In [1]:
!pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.14.2-py2.py3-none-any.whl.metadata (8.0 kB)
Downloading xmltodict-0.14.2-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.14.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: c:\Users\jermy\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

Jeremy Esperanza
-
#1 - Retrieve historical exchange data from floatrates.com for one of the 52 available currencies
- Store code in XML or JSON
- Organize each currency into its own directory (?)
- Ensure code is modular, maintainable, robust against timeouts or malformed entries

In [1]:
#initial variables and imports from example
rates = ["EUR", "GBP", "USD", "DZD", "AUD", "BWP", "BND", "CAD", "CLP", "CNY", "COP", "CZK", "DKK", "HUF", "ISK", "INR", "IDR", "ILS", "KZT", "KRW", "KWD", "LYD", "MYR", "MUR", "NPR", "NZD", "NOK", "OMR", "PKR", "PLN", "QAR", "RUB", "SAR", "SGD", "ZAR", "LKR", "SEK", "CHF", "THB", "TTD"]
ratesForBase = [r for r in rates if r != "USD" and r != "EUR" and r != "GBP"]
import requests
import xmltodict
import json
import random
import threading
import time
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
#create list using randomly selected currencies - unused
def create_currencylist():
    crlist = []
    for i in range(5):
        temp = random.choice(ratesForBase)
        crlist.append(temp)
    print(crlist)
    return crlist

#obtain json of a currency
def obtainCurrencyRates(currency):
    if currency not in ratesForBase:
        return "invalid currency input"
    else:
        #code below is taken from example
        date = "2011-05-04"
        base = currency
        url = f"https://www.floatrates.com/historical-exchange-rates.html?operation=rates&pb_id=1775&page=historical&currency_date={date}&base_currency_code={base}&format_type=xml"
        print(url)
        # Fetch the XML data
        response = requests.get(url)
        response.raise_for_status()  # Ensure we notice bad responses
        
        # Parse the XML data to a Python dictionary
        data_dict = xmltodict.parse(response.text)
        
        # Convert the dictionary to a JSON string
        json_data = json.dumps(data_dict, indent=4)
        
        # Print the JSON data
        print(json_data)
        
        # Optionally, write the JSON data to a file
        with open(f"{date}_exchange_rates_{base}.json", "w") as json_file:
            json_file.write(json_data)


        
    
#implement threads
def currency_threads(inputlist):
    threads = []
    for i in inputlist:
        thread = threading.Thread(target = obtainCurrencyRates, args = (i,))
        threads.append(thread)
    print (threads)
    for i in threads:
        i.start()

In [ ]:
currency_threads(create_currencylist())

In [ ]:
#code block provided from the example
rates = ["EUR", "GBP", "USD", "DZD", "AUD", "BWP", "BND", "CAD", "CLP", "CNY", "COP", "CZK", "DKK", "HUF", "ISK", "INR", "IDR", "ILS", "KZT", "KRW", "KWD", "LYD", "MYR", "MUR", "NPR", "NZD", "NOK", "OMR", "PKR", "PLN", "QAR", "RUB", "SAR", "SGD", "ZAR", "LKR", "SEK", "CHF", "THB", "TTD"]
ratesForBase = [r for r in rates if r != "USD" and r != "EUR" and r != "GBP"]
import requests
import xmltodict
import json
import random

# URL of the XML data
date = "2011-05-04"
base = random.choice(ratesForBase)
url = f"https://www.floatrates.com/historical-exchange-rates.html?operation=rates&pb_id=1775&page=historical&currency_date={date}&base_currency_code={base}&format_type=xml"
print(url)
# Fetch the XML data
response = requests.get(url)
response.raise_for_status()  # Ensure we notice bad responses

# Parse the XML data to a Python dictionary
data_dict = xmltodict.parse(response.text)

# Convert the dictionary to a JSON string
json_data = json.dumps(data_dict, indent=4)

# Print the JSON data
print(json_data)

# Optionally, write the JSON data to a file
with open(f"{date}_exchange_rates_{base}.json", "w") as json_file:
    json_file.write(json_data)

#2 - Perform Exploratory Data Analysis on the dataset from #1
- Aggregate and visualize trends in exchange over time for at least 5 major currencies
- Identify periods of volatility - perhaps during economic upheaval
- Generate at least multiple visualizations using seaborn

  The example code only provides a comparison between currencies for a single day, meaning that any analysis
  over a period of time is impossible. Comparing exchange rates in a single sample of time cannot show where
  the value of the currency rises or falls. The only comparision that can be done is in relation to the selected
  currency in the dataset, whether a currency is valued higher or lower than the selected currency.

  Visualizing the dataset would require multiple comparisions of currency as opposed to the single comparison obtained in #1.

In [13]:
#create a user input to allow the selection of a currency
def selectCurrency():
    flag = 1
    print("currencies to choose from:")
    string = " "
    for i in ratesForBase:
        print(i)
    while flag == 1:
        sel = input("select a currency").upper()
        #print(sel.upper())
        if sel in ratesForBase:
            global currencyselect
            print(f"{sel} is selected")
            currencyselect = sel
            flag = 0
        else:
            print("invalid input")
#obtain file of selected currency
def obtainCurrencyRates2(currency):
    if currency not in ratesForBase:
        return "invalid currency input"
    else:
        #code below is taken from example
        date = "2011-05-04"
        base = currency
        url = f"https://www.floatrates.com/historical-exchange-rates.html?operation=rates&pb_id=1775&page=historical&currency_date={date}&base_currency_code={base}&format_type=xml"
        print(url)
        # Fetch the XML data
        response = requests.get(url)
        response.raise_for_status()  # Ensure we notice bad responses
        
        # Parse the XML data to a Python dictionary
        data_dict = xmltodict.parse(response.text)
        return data_dict

In [10]:
#imports
import pandas as pd
import numpy as np
import seaborn as sns

In [21]:
seldict = obtainCurrencyRates2("AUD")

https://www.floatrates.com/historical-exchange-rates.html?operation=rates&pb_id=1775&page=historical&currency_date=2011-05-04&base_currency_code=AUD&format_type=xml

In [29]:
print(seldict['channel'])

{'title': 'XML Historical Foreign Exchange Rates for Australian Dollar (AUD) (4 May 2011)', 'link': 'http://www.floatrates.com/currency/aud/', 'xmlLink': 'http://www.floatrates.com/daily/aud.xml', 'description': 'XML historical foreign exchange rates for Australian Dollar (AUD) from the Float Rates. Published at 4 May 2011.', 'language': 'en', 'baseCurrency': 'AUD', 'pubDate': 'Wed, 4 May 2011', 'lastBuildDate': 'Wed, 4 May 2011', 'item': [{'title': '1 AUD = 0.727935 EUR', 'link': 'http://www.floatrates.com/aud/eur/', 'description': '1 Australian Dollar = 0.727935 Euro', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'EUR', 'targetName': 'Euro', 'exchangeRate': '0.727935', 'inverseRate': '1.373749', 'inverseDescription': '1 Euro = 1.373749 Australian Dollar'}, {'title': '1 AUD = 0.655741 GBP', 'link': 'http://www.floatrates.com/aud/gbp/', 'description': '1 Australian Dollar = 0.655741 U.K. Pound Sterling', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'GBP', 'targetName': 'U.K. Pound Sterling', 'exchangeRate': '0.655741', 'inverseRate': '1.524993', 'inverseDescription': '1 U.K. Pound Sterling = 1.524993 Australian Dollar'}, {'title': '1 AUD = 1.083313 USD', 'link': 'http://www.floatrates.com/aud/usd/', 'description': '1 Australian Dollar = 1.083313 U.S. Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'USD', 'targetName': 'U.S. Dollar', 'exchangeRate': '1.083313', 'inverseRate': '0.923094', 'inverseDescription': '1 U.S. Dollar = 0.923094 Australian Dollar'}, {'title': '1 AUD = 77.232653 DZD', 'link': 'http://www.floatrates.com/aud/dzd/', 'description': '1 Australian Dollar = 77.232653 Algerian Dinar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'DZD', 'targetName': 'Algerian Dinar', 'exchangeRate': '77.232653', 'inverseRate': '0.012948', 'inverseDescription': '1 Algerian Dinar = 0.012948 Australian Dollar'}, {'title': '1 AUD = 1.000000 AUD', 'link': 'http://www.floatrates.com/aud/aud/', 'description': '1 Australian Dollar = 1.000000 Australian Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'AUD', 'targetName': 'Australian Dollar', 'exchangeRate': '1.000000', 'inverseRate': '1.000000', 'inverseDescription': '1 Australian Dollar = 1.000000 Australian Dollar'}, {'title': '1 AUD = 6.904482 BWP', 'link': 'http://www.floatrates.com/aud/bwp/', 'description': '1 Australian Dollar = 6.904482 Botswana Pula', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'BWP', 'targetName': 'Botswana Pula', 'exchangeRate': '6.904482', 'inverseRate': '0.144833', 'inverseDescription': '1 Botswana Pula = 0.144833 Australian Dollar'}, {'title': '1 AUD = 1.332692 BND', 'link': 'http://www.floatrates.com/aud/bnd/', 'description': '1 Australian Dollar = 1.332692 Brunei Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'BND', 'targetName': 'Brunei Dollar', 'exchangeRate': '1.332692', 'inverseRate': '0.750361', 'inverseDescription': '1 Brunei Dollar = 0.750361 Australian Dollar'}, {'title': '1 AUD = 1.035825 CAD', 'link': 'http://www.floatrates.com/aud/cad/', 'description': '1 Australian Dollar = 1.035825 Canadian Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'CAD', 'targetName': 'Canadian Dollar', 'exchangeRate': '1.035825', 'inverseRate': '0.965414', 'inverseDescription': '1 Canadian Dollar = 0.965414 Australian Dollar'}, {'title': '1 AUD = 501.649875 CLP', 'link': 'http://www.floatrates.com/aud/clp/', 'description': '1 Australian Dollar = 501.649875 Chilean Peso', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'CLP', 'targetName': 'Chilean Peso', 'exchangeRate': '501.649875', 'inverseRate': '0.001993', 'inverseDescription': '1 Chilean Peso = 0.001993 Australian Dollar'}, {'title': '1 AUD = 7.040121 CNY', 'link': 'http://www.floatrates.com/aud/cny/', 'description': '1 Australian Dollar = 7.040121 Chinese Yuan', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'CNY', 'targetName': 'Chinese Yuan', 'exchangeRate': '7.040121', 'inverseRate': '0.142043', 'inverseDescription': '1 Chinese Yuan = 0.142043 Australian Dollar'}, {'title': '1 AUD = 1,914.268709 COP', 'link': 'http://www.floatrates.com/aud/cop/', 'description': '1 Australian Dollar = 1,914.268709 Colombian Peso', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'COP', 'targetName': 'Colombian Peso', 'exchangeRate': '1,914.268709', 'inverseRate': '0.000522', 'inverseDescription': '1 Colombian Peso = 0.000522 Australian Dollar'}, {'title': '1 AUD = 17.620922 CZK', 'link': 'http://www.floatrates.com/aud/czk/', 'description': '1 Australian Dollar = 17.620922 Czech Koruna', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'CZK', 'targetName': 'Czech Koruna', 'exchangeRate': '17.620922', 'inverseRate': '0.056751', 'inverseDescription': '1 Czech Koruna = 0.056751 Australian Dollar'}, {'title': '1 AUD = 5.428056 DKK', 'link': 'http://www.floatrates.com/aud/dkk/', 'description': '1 Australian Dollar = 5.428056 Danish Krone', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'DKK', 'targetName': 'Danish Krone', 'exchangeRate': '5.428056', 'inverseRate': '0.184228', 'inverseDescription': '1 Danish Krone = 0.184228 Australian Dollar'}, {'title': '1 AUD = 193.188136 HUF', 'link': 'http://www.floatrates.com/aud/huf/', 'description': '1 Australian Dollar = 193.188136 Hungarian Forint', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'HUF', 'targetName': 'Hungarian Forint', 'exchangeRate': '193.188136', 'inverseRate': '0.005176', 'inverseDescription': '1 Hungarian Forint = 0.005176 Australian Dollar'}, {'title': '1 AUD = 120.670265 ISK', 'link': 'http://www.floatrates.com/aud/isk/', 'description': '1 Australian Dollar = 120.670265 Icelandic Krona', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'ISK', 'targetName': 'Icelandic Krona', 'exchangeRate': '120.670265', 'inverseRate': '0.008287', 'inverseDescription': '1 Icelandic Krona = 0.008287 Australian Dollar'}, {'title': '1 AUD = 48.261544 INR', 'link': 'http://www.floatrates.com/aud/inr/', 'description': '1 Australian Dollar = 48.261544 Indian Rupee', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'INR', 'targetName': 'Indian Rupee', 'exchangeRate': '48.261544', 'inverseRate': '0.020720', 'inverseDescription': '1 Indian Rupee = 0.020720 Australian Dollar'}, {'title': '1 AUD = 9,269.544116 IDR', 'link': 'http://www.floatrates.com/aud/idr/', 'description': '1 Australian Dollar = 9,269.544116 Indonesian Rupiah', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'IDR', 'targetName': 'Indonesian Rupiah', 'exchangeRate': '9,269.544116', 'inverseRate': '0.000108', 'inverseDescription': '1 Indonesian Rupiah = 0.000108 Australian Dollar'}, {'title': '1 AUD = 3.675454 ILS', 'link': 'http://www.floatrates.com/aud/ils/', 'description': '1 Australian Dollar = 3.675454 Israeli New Sheqel', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'ILS', 'targetName': 'Israeli New Sheqel', 'exchangeRate': '3.675454', 'inverseRate': '0.272075', 'inverseDescription': '1 Israeli New Sheqel = 0.272075 Australian Dollar'}, {'title': '1 AUD = 157.936241 KZT', 'link': 'http://www.floatrates.com/aud/kzt/', 'description': '1 Australian Dollar = 157.936241 Kazakhstani Tenge', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'KZT', 'targetName': 'Kazakhstani Tenge', 'exchangeRate': '157.936241', 'inverseRate': '0.006332', 'inverseDescription': '1 Kazakhstani Tenge = 0.006332 Australian Dollar'}, {'title': '1 AUD = 1,160.285938 KRW', 'link': 'http://www.floatrates.com/aud/krw/', 'description': '1 Australian Dollar = 1,160.285938 South Korean Won', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'KRW', 'targetName': 'South Korean Won', 'exchangeRate': '1,160.285938', 'inverseRate': '0.000862', 'inverseDescription': '1 South Korean Won = 0.000862 Australian Dollar'}, {'title': '1 AUD = 0.297261 KWD', 'link': 'http://www.floatrates.com/aud/kwd/', 'description': '1 Australian Dollar = 0.297261 Kuwaiti Dinar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'KWD', 'targetName': 'Kuwaiti Dinar', 'exchangeRate': '0.297261', 'inverseRate': '3.364045', 'inverseDescription': '1 Kuwaiti Dinar = 3.364045 Australian Dollar'}, {'title': '1 AUD = 2.093395 LYD', 'link': 'http://www.floatrates.com/aud/lyd/', 'description': '1 Australian Dollar = 2.093395 Libyan Dinar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'LYD', 'targetName': 'Libyan Dinar', 'exchangeRate': '2.093395', 'inverseRate': '0.477693', 'inverseDescription': '1 Libyan Dinar = 0.477693 Australian Dollar'}, {'title': '1 AUD = 3.227197 MYR', 'link': 'http://www.floatrates.com/aud/myr/', 'description': '1 Australian Dollar = 3.227197 Malaysian Ringgit', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'MYR', 'targetName': 'Malaysian Ringgit', 'exchangeRate': '3.227197', 'inverseRate': '0.309866', 'inverseDescription': '1 Malaysian Ringgit = 0.309866 Australian Dollar'}, {'title': '1 AUD = 29.496995 MUR', 'link': 'http://www.floatrates.com/aud/mur/', 'description': '1 Australian Dollar = 29.496995 Mauritian Rupee', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'MUR', 'targetName': 'Mauritian Rupee', 'exchangeRate': '29.496995', 'inverseRate': '0.033902', 'inverseDescription': '1 Mauritian Rupee = 0.033902 Australian Dollar'}, {'title': '1 AUD = 77.066906 NPR', 'link': 'http://www.floatrates.com/aud/npr/', 'description': '1 Australian Dollar = 77.066906 Nepalese Rupee', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'NPR', 'targetName': 'Nepalese Rupee', 'exchangeRate': '77.066906', 'inverseRate': '0.012976', 'inverseDescription': '1 Nepalese Rupee = 0.012976 Australian Dollar'}, {'title': '1 AUD = 1.359692 NZD', 'link': 'http://www.floatrates.com/aud/nzd/', 'description': '1 Australian Dollar = 1.359692 New Zealand Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'NZD', 'targetName': 'New Zealand Dollar', 'exchangeRate': '1.359692', 'inverseRate': '0.735461', 'inverseDescription': '1 New Zealand Dollar = 0.735461 Australian Dollar'}, {'title': '1 AUD = 5.729550 NOK', 'link': 'http://www.floatrates.com/aud/nok/', 'description': '1 Australian Dollar = 5.729550 Norwegian Krone', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'NOK', 'targetName': 'Norwegian Krone', 'exchangeRate': '5.729550', 'inverseRate': '0.174534', 'inverseDescription': '1 Norwegian Krone = 0.174534 Australian Dollar'}, {'title': '1 AUD = 0.416534 OMR', 'link': 'http://www.floatrates.com/aud/omr/', 'description': '1 Australian Dollar = 0.416534 Omani Rial', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'OMR', 'targetName': 'Omani Rial', 'exchangeRate': '0.416534', 'inverseRate': '2.400765', 'inverseDescription': '1 Omani Rial = 2.400765 Australian Dollar'}, {'title': '1 AUD = 91.332517 PKR', 'link': 'http://www.floatrates.com/aud/pkr/', 'description': '1 Australian Dollar = 91.332517 Pakistani Rupee', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'PKR', 'targetName': 'Pakistani Rupee', 'exchangeRate': '91.332517', 'inverseRate': '0.010949', 'inverseDescription': '1 Pakistani Rupee = 0.010949 Australian Dollar'}, {'title': '1 AUD = 2.868978 PLN', 'link': 'http://www.floatrates.com/aud/pln/', 'description': '1 Australian Dollar = 2.868978 Polish Zloty', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'PLN', 'targetName': 'Polish Zloty', 'exchangeRate': '2.868978', 'inverseRate': '0.348556', 'inverseDescription': '1 Polish Zloty = 0.348556 Australian Dollar'}, {'title': '1 AUD = 3.943260 QAR', 'link': 'http://www.floatrates.com/aud/qar/', 'description': '1 Australian Dollar = 3.943260 Qatari Rial', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'QAR', 'targetName': 'Qatari Rial', 'exchangeRate': '3.943260', 'inverseRate': '0.253597', 'inverseDescription': '1 Qatari Rial = 0.253597 Australian Dollar'}, {'title': '1 AUD = 29.599456 RUB', 'link': 'http://www.floatrates.com/aud/rub/', 'description': '1 Australian Dollar = 29.599456 Russian Rouble', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'RUB', 'targetName': 'Russian Rouble', 'exchangeRate': '29.599456', 'inverseRate': '0.033784', 'inverseDescription': '1 Russian Rouble = 0.033784 Australian Dollar'}, {'title': '1 AUD = 4.062425 SAR', 'link': 'http://www.floatrates.com/aud/sar/', 'description': '1 Australian Dollar = 4.062425 Saudi Riyal', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'SAR', 'targetName': 'Saudi Riyal', 'exchangeRate': '4.062425', 'inverseRate': '0.246158', 'inverseDescription': '1 Saudi Riyal = 0.246158 Australian Dollar'}, {'title': '1 AUD = 1.331653 SGD', 'link': 'http://www.floatrates.com/aud/sgd/', 'description': '1 Australian Dollar = 1.331653 Singapore Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'SGD', 'targetName': 'Singapore Dollar', 'exchangeRate': '1.331653', 'inverseRate': '0.750947', 'inverseDescription': '1 Singapore Dollar = 0.750947 Australian Dollar'}, {'title': '1 AUD = 7.175771 ZAR', 'link': 'http://www.floatrates.com/aud/zar/', 'description': '1 Australian Dollar = 7.175771 South African Rand', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'ZAR', 'targetName': 'South African Rand', 'exchangeRate': '7.175771', 'inverseRate': '0.139358', 'inverseDescription': '1 South African Rand = 0.139358 Australian Dollar'}, {'title': '1 AUD = 118.927755 LKR', 'link': 'http://www.floatrates.com/aud/lkr/', 'description': '1 Australian Dollar = 118.927755 Sri Lanka Rupee', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'LKR', 'targetName': 'Sri Lanka Rupee', 'exchangeRate': '118.927755', 'inverseRate': '0.008408', 'inverseDescription': '1 Sri Lanka Rupee = 0.008408 Australian Dollar'}, {'title': '1 AUD = 6.546689 SEK', 'link': 'http://www.floatrates.com/aud/sek/', 'description': '1 Australian Dollar = 6.546689 Swedish Krona', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'SEK', 'targetName': 'Swedish Krona', 'exchangeRate': '6.546689', 'inverseRate': '0.152749', 'inverseDescription': '1 Swedish Krona = 0.152749 Australian Dollar'}, {'title': '1 AUD = 0.934049 CHF', 'link': 'http://www.floatrates.com/aud/chf/', 'description': '1 Australian Dollar = 0.934049 Swiss Franc', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'CHF', 'targetName': 'Swiss Franc', 'exchangeRate': '0.934049', 'inverseRate': '1.070607', 'inverseDescription': '1 Swiss Franc = 1.070607 Australian Dollar'}, {'title': '1 AUD = 32.525312 THB', 'link': 'http://www.floatrates.com/aud/thb/', 'description': '1 Australian Dollar = 32.525312 Thai Baht', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'THB', 'targetName': 'Thai Baht', 'exchangeRate': '32.525312', 'inverseRate': '0.030745', 'inverseDescription': '1 Thai Baht = 0.030745 Australian Dollar'}, {'title': '1 AUD = 6.927897 TTD', 'link': 'http://www.floatrates.com/aud/ttd/', 'description': '1 Australian Dollar = 6.927897 Trinidad Tobago Dollar', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'TTD', 'targetName': 'Trinidad Tobago Dollar', 'exchangeRate': '6.927897', 'inverseRate': '0.144344', 'inverseDescription': '1 Trinidad Tobago Dollar = 0.144344 Australian Dollar'}, {'title': '1 AUD = 3.978468 AED', 'link': 'http://www.floatrates.com/aud/aed/', 'description': '1 Australian Dollar = 3.978468 U.A.E Dirham', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'AED', 'targetName': 'U.A.E Dirham', 'exchangeRate': '3.978468', 'inverseRate': '0.251353', 'inverseDescription': '1 U.A.E Dirham = 0.251353 Australian Dollar'}, {'title': '1 AUD = 4.646656 VEF', 'link': 'http://www.floatrates.com/aud/vef/', 'description': '1 Australian Dollar = 4.646656 Venezuelan Bolivar (till 20 August 2018)', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'VEF', 'targetName': 'Venezuelan Bolivar (till 20 August 2018)', 'exchangeRate': '4.646656', 'inverseRate': '0.215209', 'inverseDescription': '1 Venezuelan Bolivar (till 20 August 2018) = 0.215209 Australian Dollar'}, {'title': '1 AUD = 87.803552 JPY', 'link': 'http://www.floatrates.com/aud/jpy/', 'description': '1 Australian Dollar = 87.803552 Japanese Yen', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'JPY', 'targetName': 'Japanese Yen', 'exchangeRate': '87.803552', 'inverseRate': '0.011389', 'inverseDescription': '1 Japanese Yen = 0.011389 Australian Dollar'}, {'title': '1 AUD = 1.423696 BGN', 'link': 'http://www.floatrates.com/aud/bgn/', 'description': '1 Australian Dollar = 1.423696 Bulgarian Lev', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'BGN', 'targetName': 'Bulgarian Lev', 'exchangeRate': '1.423696', 'inverseRate': '0.702397', 'inverseDescription': '1 Bulgarian Lev = 0.702397 Australian Dollar'}, {'title': '1 AUD = 2.513415 LTL', 'link': 'http://www.floatrates.com/aud/ltl/', 'description': '1 Australian Dollar = 2.513415 Lithuanian Litas', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'LTL', 'targetName': 'Lithuanian Litas', 'exchangeRate': '2.513415', 'inverseRate': '0.397865', 'inverseDescription': '1 Lithuanian Litas = 0.397865 Australian Dollar'}, {'title': '1 AUD = 0.516470 LVL', 'link': 'http://www.floatrates.com/aud/lvl/', 'description': '1 Australian Dollar = 0.516470 Latvian Lats', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'LVL', 'targetName': 'Latvian Lats', 'exchangeRate': '0.516470', 'inverseRate': '1.936221', 'inverseDescription': '1 Latvian Lats = 1.936221 Australian Dollar'}, {'title': '1 AUD = 2.991814 RON', 'link': 'http://www.floatrates.com/aud/ron/', 'description': '1 Australian Dollar = 2.991814 Romanian New Leu', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'RON', 'targetName': 'Romanian New Leu', 'exchangeRate': '2.991814', 'inverseRate': '0.334245', 'inverseDescription': '1 Romanian New Leu = 0.334245 Australian Dollar'}, {'title': '1 AUD = 5.373254 HRK', 'link': 'http://www.floatrates.com/aud/hrk/', 'description': '1 Australian Dollar = 5.373254 Croatian Kuna', 'pubDate': None, 'baseCurrency': 'AUD', 'baseName': 'Australian Dollar', 'targetCurrency': 'HRK', 'targetName': 'Croatian Kuna', 'exchangeRate': '5.373254', 'inverseRate': '0.186107', 'inverseDescription': '1 Croatian Kuna = 0.186107 Australian Dollar'}, {'title': '1 AUD = 1.665298 TRY', 'link': 'http://www.floatrates.com/aud/try/', 'description': '1 Australian Dollar = 1.665298 Turkish Lira', 'pubDat

In [39]:
listx = []
listy = []
for i in seldict['channel']['item']:
    print(i['targetName'])
    print(i["exchangeRate"])
    listy.append(i["exchangeRate"])
    listx.append(i["targetName"])
print(listx)
print(listy)

Euro
0.727935
U.K. Pound Sterling
0.655741
U.S. Dollar
1.083313
Algerian Dinar
77.232653
Australian Dollar
1.000000
Botswana Pula
6.904482
Brunei Dollar
1.332692
Canadian Dollar
1.035825
Chilean Peso
501.649875
Chinese Yuan
7.040121
Colombian Peso
1,914.268709
Czech Koruna
17.620922
Danish Krone
5.428056
Hungarian Forint
193.188136
Icelandic Krona
120.670265
Indian Rupee
48.261544
Indonesian Rupiah
9,269.544116
Israeli New Sheqel
3.675454
Kazakhstani Tenge
157.936241
South Korean Won
1,160.285938
Kuwaiti Dinar
0.297261
Libyan Dinar
2.093395
Malaysian Ringgit
3.227197
Mauritian Rupee
29.496995
Nepalese Rupee
77.066906
New Zealand Dollar
1.359692
Norwegian Krone
5.729550
Omani Rial
0.416534
Pakistani Rupee
91.332517
Polish Zloty
2.868978
Qatari Rial
3.943260
Russian Rouble
29.599456
Saudi Riyal
4.062425
Singapore Dollar
1.331653
South African Rand
7.175771
Sri Lanka Rupee
118.927755
Swedish Krona
6.546689
Swiss Franc
0.934049
Thai Baht
32.525312
Trinidad Tobago Dollar
6.927897
U.A.E Dirham
3.978468
Venezuelan Bolivar (till 20 August 2018)
4.646656
Japanese Yen
87.803552
Bulgarian Lev
1.423696
Lithuanian Litas
2.513415
Latvian Lats
0.516470
Romanian New Leu
2.991814
Croatian Kuna
5.373254
Turkish Lira
1.665298
Brazilian Real
1.716399
Hong Kong Dollar
8.416606
Mexican Peso
12.533153
Philippine Peso
46.488858
['Euro', 'U.K. Pound Sterling', 'U.S. Dollar', 'Algerian Dinar', 'Australian Dollar', 'Botswana Pula', 'Brunei Dollar', 'Canadian Dollar', 'Chilean Peso', 'Chinese Yuan', 'Colombian Peso', 'Czech Koruna', 'Danish Krone', 'Hungarian Forint', 'Icelandic Krona', 'Indian Rupee', 'Indonesian Rupiah', 'Israeli New Sheqel', 'Kazakhstani Tenge', 'South Korean Won', 'Kuwaiti Dinar', 'Libyan Dinar', 'Malaysian Ringgit', 'Mauritian Rupee', 'Nepalese Rupee', 'New Zealand Dollar', 'Norwegian Krone', 'Omani Rial', 'Pakistani Rupee', 'Polish Zloty', 'Qatari Rial', 'Russian Rouble', 'Saudi Riyal', 'Singapore Dollar', 'South African Rand', 'Sri Lanka Rupee', 'Swedish Krona', 'Swiss Franc', 'Thai Baht', 'Trinidad Tobago Dollar', 'U.A.E Dirham', 'Venezuelan Bolivar (till 20 August 2018)', 'Japanese Yen', 'Bulgarian Lev', 'Lithuanian Litas', 'Latvian Lats', 'Romanian New Leu', 'Croatian Kuna', 'Turkish Lira', 'Brazilian Real', 'Hong Kong Dollar', 'Mexican Peso', 'Philippine Peso']
['0.727935', '0.655741', '1.083313', '77.232653', '1.000000', '6.904482', '1.332692', '1.035825', '501.649875', '7.040121', '1,914.268709', '17.620922', '5.428056', '193.188136', '120.670265', '48.261544', '9,269.544116', '3.675454', '157.936241', '1,160.285938', '0.297261', '2.093395', '3.227197', '29.496995', '77.066906', '1.359692', '5.729550', '0.416534', '91.332517', '2.868978', '3.943260', '29.599456', '4.062425', '1.331653', '7.175771', '118.927755', '6.546689', '0.934049', '32.525312', '6.927897', '3.978468', '4.646656', '87.803552', '1.423696', '2.513415', '0.516470', '2.991814', '5.373254', '1.665298', '1.716399', '8.416606', '12.533153', '46.488858']

In [40]:
sns.load_dataset(listy)

ValueError: '['0.727935', '0.655741', '1.083313', '77.232653', '1.000000', '6.904482', '1.332692', '1.035825', '501.649875', '7.040121', '1,914.268709', '17.620922', '5.428056', '193.188136', '120.670265', '48.261544', '9,269.544116', '3.675454', '157.936241', '1,160.285938', '0.297261', '2.093395', '3.227197', '29.496995', '77.066906', '1.359692', '5.729550', '0.416534', '91.332517', '2.868978', '3.943260', '29.599456', '4.062425', '1.331653', '7.175771', '118.927755', '6.546689', '0.934049', '32.525312', '6.927897', '3.978468', '4.646656', '87.803552', '1.423696', '2.513415', '0.516470', '2.991814', '5.373254', '1.665298', '1.716399', '8.416606', '12.533153', '46.488858']' is not one of the example datasets.

In [ ]:
plt.figure(figsize = (15,8))
sns.countplot(x=listx